@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    background-image: linear-gradient(to right,#7EA3C8,#C7D5E2);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow:5px 5px 15px rgba(84, 109, 135, 0.613) ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #819CB9;
    text-align: center;
    text-shadow: 1px 1px 2px #4c5b6d;
}

h2 {
   color:#0052C1;
}
p {
   text-align: justify;
}